<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.project.system.clazz.mapper.ClazzMapper">

	<resultMap type="Clazz" id="ClazzResult">
		<id     property="clazzId"     column="clazz_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="clazzName"   column="clazz_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="email"      column="email"       />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<resultMap type="Clazz" id="ClazzResultTwo">
		<id     property="clazzId"     column="clazz_id"     />
		<result property="parentId"   column="parent_id"   />
		<result property="ancestors"  column="ancestors"   />
		<result property="clazzName"   column="clazz_name"   />
		<result property="orderNum"   column="order_num"   />
		<result property="leader"     column="leader"      />
		<result property="phone"      column="phone"       />
		<result property="email"      column="email"       />
		<result property="status"     column="status"      />
		<result property="delFlag"    column="del_flag"    />
		<result property="parentName" column="parent_name" />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
		<collection property="students" resultMap="StudentResult" javaType="java.util.List" column="clazz_id" >

		</collection>
	</resultMap>
	<resultMap type="Student" id="StudentResult">
		<id     property="studentNo"     column="student_no"     />
		<result property="studentName"   column="student_name"   />
		<result property="studentPhone"  column="student_phone"   />
		<result property="clazzId"   column="clazz_id"   />
		<result property="delFlag"   column="del_flag"   />
	</resultMap>
	<select id="selectStudentByClazzId" parameterType="Integer" resultMap="StudentResult">
		select * from sys_student where clazz_id = #{clazzid} and del_flag=0
	</select>
	
	<sql id="selectClazzVo">
        select d.clazz_id, d.parent_id, d.ancestors, d.clazz_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time 
        from sys_clazz d
    </sql>
	<sql id="selectClazzVoTwo">
        SELECT d.clazz_id, d.parent_id, d.ancestors, d.clazz_name, d.order_num, d.leader, d.phone, d.email, d.status, d.del_flag, d.create_by, d.create_time 
        ,s.*
        FROM sys_clazz d LEFT JOIN sys_student s ON d.`clazz_id` = s.`clazz_id`
    </sql>
    
    <!-- 以下一部分无用 -->
	<select id="selectRoleClazzTree" parameterType="Long" resultType="String">
		select concat(d.clazz_id, d.clazz_name) as clazz_name
		from sys_clazz d
			left join sys_role_clazz rd on d.clazz_id = rd.clazz_id
		where d.del_flag = '0' and rd.role_id = #{roleId}
		order by d.parent_id, d.order_num
	</select>
	
	
    <!-- 
    <select id="selectProjectClazzTree" parameterType="Integer" resultType="String">
		select concat(d.clazz_id, d.clazz_name) as clazz_name
		from sys_clazz d
			left join sys_role_clazz rd on d.clazz_id = rd.clazz_id
		where d.del_flag = '0' and rd.role_id = #{roleId}
		order by d.parent_id, d.order_num
	</select>
     -->
	<select id="selectProjectClazzTree" parameterType="Integer" resultType="String">
		SELECT rd.`clazz_id`
		FROM sys_project d
			LEFT JOIN sys_project_clazz rd ON d.project_id = rd.project_id
		WHERE rd.project_id = #{pid}
	</select>
	
	
	<select id="selectModuleStudentTree" parameterType="Integer" resultType="String">
		SELECT s.`student_no`
		FROM project_case_module m
			LEFT JOIN project_module_student s ON m.`module_id` = s.`module_id`
		WHERE m.`module_id` =  #{mid}
	</select>
	
	<select id="selectClazzList" parameterType="Clazz" resultMap="ClazzResult">
        <include refid="selectClazzVo"/>
        where d.del_flag = '0'
        <if test="parentId != null">
			AND parent_id = #{parentId}
		</if>
		<if test="clazzName != null and clazzName != ''">
			AND clazz_name like concat('%', #{clazzName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
		order by d.order_num
    </select>
    
    <select id="selectClazzStudentList" parameterType="Clazz" resultMap="ClazzResultTwo">
        <include refid="selectClazzVoTwo"/>
        where d.del_flag = '0'
        <if test="parentId != null">
			AND parent_id = #{parentId}
		</if>
		<if test="clazzName != null and clazzName != ''">
			AND clazz_name like concat('%', #{clazzName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND status = #{status}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
		order by d.order_num
    </select>
	
	<select id="checkClazzExistStudent" parameterType="Long" resultType="int">
		select count(1) from sys_student where clazz_id = #{clazzId} and del_flag=0
	</select>
	
	<select id="selectClazzCount" parameterType="Clazz" resultType="int">
		select count(1) from sys_clazz
		where del_flag = '0'
		<if test="clazzId != null and clazzId != 0"> and clazz_id = #{clazzId} </if>
		<if test="parentId != null and parentId != 0"> and parent_id = #{parentId} </if>
	</select>
	
	<select id="checkClazzNameUnique" resultMap="ClazzResult">
	    <include refid="selectClazzVo"/>
		where clazz_name=#{clazzName} and parent_id = #{parentId}
	</select>

	<select id="selectClazzById" parameterType="Long" resultMap="ClazzResult">
		select d.clazz_id, d.parent_id, d.ancestors, d.clazz_name, d.order_num, d.leader, d.phone, d.email, d.status,
			(select clazz_name from sys_clazz where clazz_id = d.parent_id) parent_name,d.del_flag,d.create_by,d.create_time,d.update_by,d.update_time
		from sys_clazz d
		where d.clazz_id = #{clazzId}
	</select>
	
	
	<select id="selectClazzByIds" resultMap="ClazzResult">
		select d.clazz_id, d.parent_id, d.ancestors, d.clazz_name, d.order_num, d.leader, d.phone, d.email, d.status,
			(select clazz_name from sys_clazz where clazz_id = d.parent_id) parent_name
		from sys_clazz d
		where d.clazz_id in 
		<foreach collection="array" item="id" index="index"
                  open="(" close=")" separator=",">
             #{id}
         </foreach>
	</select>
	
	<!-- 检查多个id是否存在 -->
	<select id="checkClazzIdPresence"  parameterType="java.util.List" resultType="int">
		SELECT count(1)
            FROM sys_clazz c
           
            WHERE c.clazz_id in
            <foreach item="item" index="index" collection="list"  open="(" separator="," close=")">
                #{item}
            </foreach>
	</select>
	
	<insert id="insertClazz" parameterType="Clazz">
 		insert into sys_clazz(
 			<if test="clazzId != null and clazzId != 0">clazz_id,</if>
 			<if test="parentId != null and parentId != 0">parent_id,</if>
 			<if test="clazzName != null and clazzName != ''">clazz_name,</if>
 			<if test="ancestors != null and ancestors != ''">ancestors,</if>
 			<if test="orderNum != null and orderNum != ''">order_num,</if>
 			<if test="leader != null and leader != ''">leader,</if>
 			<if test="phone != null and phone != ''">phone,</if>
 			<if test="email != null and email != ''">email,</if>
 			<if test="status != null">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="clazzId != null and clazzId != 0">#{clazzId},</if>
 			<if test="parentId != null and parentId != 0">#{parentId},</if>
 			<if test="clazzName != null and clazzName != ''">#{clazzName},</if>
 			<if test="ancestors != null and ancestors != ''">#{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">#{orderNum},</if>
 			<if test="leader != null and leader != ''">#{leader},</if>
 			<if test="phone != null and phone != ''">#{phone},</if>
 			<if test="email != null and email != ''">#{email},</if>
 			<if test="status != null">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>
	
	<update id="updateClazz" parameterType="Clazz">
 		update sys_clazz
 		<set>
 			<if test="parentId != null and parentId != 0">parent_id = #{parentId},</if>
 			<if test="clazzName != null and clazzName != ''">clazz_name = #{clazzName},</if>
 			<if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
 			<if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
 			<if test="leader != null">leader = #{leader},</if>
 			<if test="phone != null">phone = #{phone},</if>
 			<if test="email != null">email = #{email},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where clazz_id = #{clazzId}
	</update>
	
	<update id="updateClazzChildren" parameterType="java.util.List">
	    update sys_clazz set ancestors =
	    <foreach collection="clazzs" item="item" index="index"
	        separator=" " open="case clazz_id" close="end">
	        when #{item.clazzId} then #{item.ancestors}
	    </foreach>
	    where clazz_id in
	    <foreach collection="clazzs" item="item" index="index"
	        separator="," open="(" close=")">
	        #{item.clazzId}
	    </foreach>
	 </update>

	<delete id="deleteClazzById" parameterType="Long">
		update sys_clazz set del_flag = '2' where clazz_id = #{clazzId}
	</delete>
	
	<update id="updateClazzStatus" parameterType="Clazz">
 	    update sys_clazz
 	    <set>
 	        <if test="status != null and status != ''">status = #{status},</if>
 	        <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 	        update_time = sysdate()
        </set>
 	    where clazz_id in (${ancestors})
	</update>

</mapper> 