<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.project.system.student.mapper.StudentMapper">
	<resultMap type="Student" id="StudentResult">
		<id     property="studentNo"     column="student_no"     />
		<result property="studentName"   column="student_name"   />
		<result property="studentPhone"  column="student_phone"   />
		<result property="clazzId"   column="clazz_id"   />
	</resultMap>
	<select id="selectStudentList" parameterType="Student" resultMap="StudentResult">
        select * from sys_student
        <where>
     		<if test="clazzId != null">
			AND clazz_id = #{clazzId}
		</if>
        <if test="studentNo != null">
			AND student_no like concat('%', #{studentNo}, '%') 
		</if>
		
        <if test="studentName != null">
			AND student_name like concat('%', #{studentName}, '%') 
		</if>
		<!-- 数据范围过滤 -->
		and del_flag=0
		order by student_no
     	</where>
        
		
    </select>
    
	
    
    <select id="checkStudentNo" parameterType="Student" resultType="int">
     select count(1) from sys_student 
     	<where>
     		 <if test="studentNo != null "> and student_no = #{studentNo}</if>
     		 <if test="delFlag != null "> and del_flag = #{delFlag}</if>
     	</where>
    </select>
    <update id="updateStudent" parameterType="Student">
 		update sys_student
 		<set>
 			<if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
 			<if test="studentPhone != null and studentPhone != ''">student_phone = #{studentPhone},</if>
 			<if test="clazzId != null ">clazz_id = #{clazzId},</if>
 			del_flag = 0
 		</set>
 		where student_no = #{studentNo}
	</update>
    
    <select id="selectStudentByNo" parameterType="String" resultMap="StudentResult">
     select * from sys_student where student_no=#{studentNo} and del_flag=0
    </select>

	<insert id="insertStudent" parameterType="Student">
 		insert into sys_student(
 			<if test="studentNo != null">student_no,</if>
 			<if test="studentName != null and studentName != ''">student_name,</if>
 			<if test="studentPhone != null and studentName != ''">student_phone,</if>
 			clazz_id,del_flag
 		)values(
 			<if test="studentNo != null">#{studentNo},</if>
 			<if test="studentName != null and studentName != ''">#{studentName},</if>
 			<if test="studentPhone != null and studentPhone != ''">#{studentPhone},</if>
 			#{clazzId},0
 		)
	</insert>
	
	<delete id="deleteStudentByNo" parameterType="String">
		update sys_student set del_flag = '2' where student_no = #{studentNo}
	</delete>
</mapper> 